Comment:  Blockchain based voting system
Package: pyvserv
Essential: no
Priority: optional
Section: utilities
Maintainer: Peter Glen <peterglen99@gmail.com>
Architecture: all
Version: 1.0
Depends: python, passlib, pycrypto, bcrypt
Provides: pyvserv
Conflicts:
Description: Public Voting System Blockchain server.
    The system maintains an encrypted chain of vote events. Every entry has
    the Voter ID, an Electronic ID, the vote action (register / cast /
    uncast / withdraw)
    The voter ID is a number allocated by authorities, Electronic ID is a
    number allocated on initial login / registration by the system.
    The Voter Block Chain and Electronic ID is visible by the public,
    so every voter can verify his / her participation. The voter ID
    is visible by the electorate only.
    This way every voter can be verified for legitimate and singular
    registration. This system crates accountability from both the
    voter sides and the election authorities side.




